* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: fancy;
  src: url(../components/fonts/JustAnotherHand-Regular.ttf);
}

@font-face {
  font-family: k2d;
  src: url(../components/fonts/K2D-Regular.ttf);
}

body {
  display: flex;
  background-color: #ede9fe;
  color: var(--text-clr);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --main-clr: #a78bfa;
  --secondary-clr: #8b5cf6;
  --task-box-background-clr: #c4b5fd;
  --text-clr: #f5f3ff;
}

#left-content {
  height: 100vh;
  width: 70vw;
}

#image-box {
  height: 100vh;
  width: 30vw;
  background-image: url(../components/images/flower-side.jpg);
  background-size: cover;
}

#quote-section {
  display: flex;
  width: 100%;
  height: 20%;
  background-color: var(--main-clr);
  font-family: fancy;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-bottom: 1px solid black;
}

#main-content {
  display: flex;
  align-items: center;
  height: 80%;
  width: 100%;
}

#user-nav {
  font-size: 0.9rem;
}

#side-nav {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 20%;
  background-color: var(--main-clr);
  font-family: k2d;
  font-size: 1.1rem;
  margin-left: 1rem;
  border-radius: 20px;
}

#user-nav {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 1rem;
}

#project-creation {
  flex: 9;
}

#task-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

#task-box {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 40%;
  background-color: var(--main-clr);
  border-radius: 15px;
}

#create-task-container {
  display: flex;
  background-color: var(--secondary-clr);
  height: 10%;
  align-items: center;
}

#create-task-button {
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: k2d;
  font-weight: bold;
  border: none;
  background-color: #5b21b6;
  color: var(--text-clr);
}

#add-task-form {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-clr);
  margin-left: 2rem;
  height: 40%;
  width: 20%;
  border-radius: 10px;
  padding: 1rem;
}
