* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: fancy;
  src: url(../components/fonts/JustAnotherHand-Regular.ttf);
}

@font-face {
  font-family: k2d;
  src: url(../components/fonts/K2D-Regular.ttf);
}

body {
  display: flex;
  background-color: #fafafa;
  color: var(--text-clr);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --main-clr: #e5e5e5;
  --secondary-clr: #d4d4d4;
  --text-clr: #262626;
}

#left-content {
  height: 100vh;
  width: 100vw;
}

#title-section {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: var(--main-clr);
  font-family: fancy;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  box-shadow: 0px 3px 2px #e5e5e5;
}

#main-content {
  display: flex;
  align-items: center;
  height: 90%;
  width: 100%;
}

#user-nav {
  font-size: 0.9rem;
}

#side-nav {
  display: flex;
  flex-direction: column;
  height: 98%;
  width: 8%;
  background-color: var(--main-clr);
  font-family: k2d;
  font-size: 1.1rem;
  box-shadow: 3px 0px 2px #e5e5e5;
  gap: 1rem;
}

#task-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

#task-box {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 40%;
  background-color: var(--main-clr);
  border-radius: 15px;
  box-shadow: 3px 3px 2px #e5e5e5;
  padding-top: 0.8rem;
  gap: 10px;
}

#create-task-container {
  display: flex;
  height: 10%;
  align-items: center;
}

#create-task-button {
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  font-family: k2d;
  font-weight: bold;
  border: none;
  background-color: #737373;
  color: var(--text-clr);
}

#add-task-form {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-clr);
  margin-left: 2rem;
  max-height: 40%;
  min-height: 21rem;
  width: 20%;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 3px 3px 2px #e5e5e5;
}

#add-task-form h1 {
  margin-left: auto;
  margin-right: auto;
  font-family: fancy;
  font-weight: 100;
  font-size: 3rem;
}

#form-btn-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-left: auto;
  gap: 0.2rem;
  flex-shrink: 1;
}

#submit-button-form,
#reset-button-form,
#close-button-form {
  padding: 0.4rem;
  background-color: #737373;
  border: 0;
  color: var(--text-clr);
  font-weight: bold;
}

.task-data-div {
  display: flex;
  background-color: var(--secondary-clr);
  padding: 10px 0px 10px 0.7rem;
  word-break: break-word;
}

.projects-container {
  display: flex;
  align-items: center;
  background-color: var(--secondary-clr);
  padding: 1rem 0.5rem;
}

.project-remove-icon,
.task-remove-icon {
  height: 2rem;
}

.project-remove-icon {
  margin-left: auto;
}

.task-remove-icon {
  margin-left: auto;
  margin-top: auto;
  margin-right: 1rem;
}

.data-grouper {
  flex: 1;
  word-break: break-word;
}

.selected-project {
  background-color: #737373;
}
